* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  padding: 30px 0 70px;
  font-weight: 700;
  font-size: 20px;
  width: 100%
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.nav-block {
  list-style: none;
  display: flex;
  align-items: center
}
.nav-block__item {
  margin-right: 173px;
  color: #f24e1e;
  border-radius: 3px;
  transition: background .5s linear
}
.nav-block__item.active {
  border-bottom: 3px solid #fff
}
.nav-block__item:last-of-type {
  border-radius: 0
}
.nav-block__item:last-of-type {
  margin-right: 0
}
.nav-block__item:hover {
  color: #2582d4
}
.logo {
  background: url(../img/logo.svg) no-repeat center;
  width: 250px;
  height: 60px
}
.nav-profile {
  border-radius: 100px;
  border: 1px solid #f24e1e;
  width: 100px;
  height: 100px;
  display: block;
  background: url(../img/ava.webp) center;
  background-size: cover;
  transition: opacity .5s linear
}
.nav-profile:hover {
  opacity: .5
}
body {
  font-family: Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9
}
.container {
  padding: 20px
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px
}
.gallery iframe {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1)
}
.news-feed {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  margin-bottom: 30px;
  overflow: hidden;
  height: 70px;
  position: relative
}
.news-list {
  display: flex;
  gap: 30px;
  -webkit-animation: scroll 10s linear infinite;
  animation: scroll 10s linear infinite
}
.news-item {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  white-space: nowrap
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px
}
.video-section iframe {
  width: 50%;
  height: 600px;
  border-radius: 10px
}
.greeting {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  line-height: 40px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  margin-bottom: 30px
}
.greeting h2 {
  color: #907142
}
::-webkit-scrollbar {
  width: 10px
}
::-webkit-scrollbar-track {
  background: #f1f1f1
}
::-webkit-scrollbar-thumb {
  background: #907142;
  border-radius: 10px
}
@media (max-width:768px) {
  .gallery img {
    height: 150px
  }
  .video-section iframe {
    width: 100%
  }
}